*{
    margin: 0;
    padding: 0;
}

h1{
    text-align: center;
}

.card{
    margin: 0 auto;
    max-width: 350px;
    text-align: center;
    margin-top: 10px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    font-size: 0;
    border: 1px solid #b6b3b6;
    border-radius: 3px;
    padding: 8px;
    background-color: #b6b3b6;
}

.card:hover{
    box-shadow: 0 16px 32px 0 rgba(0,0,0,0.2);
}

.card-head #result{
    width: 335px;
    height: 100px;
    font-size: 32px;
    font-weight: bold;
    text-align: right;
    padding: 0 8px;
    letter-spacing: 2px;
    margin: 10px 0px 5px 0;
    border: 0;
    border-radius: 3px;
}

.btn{
    width: 87px;
    height: 70px;
    font-weight: bold;
    font-size: 20px;
    color: red;
    background: #000000;
    border-radius: 5px;
}

.btn-del{
    color: #e75353;
}

.btn-top{
    color: #e75353;
}

.btn-style{
    background-color: #589deb;
}

.btn:hover{
    background: #e75353;
    color: #fff;
}
.btn:active{
    background: linear-gradient(rgba(14, 166, 255, 0.6), rgba(22, 149, 223, 0.6)), url(../img/calcu.jpg);
    background-size: cover;
}
